__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/
*.swp
*.swo
config.py
*.log
chroma_db/
documents/extracted_images/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.env.local
.env.*.local
logs/
*.log
npm-debug.log*
